<section id="documenter_cover"><h1>Quản trị hệ thống</h1><h2> Trang quản trị hệ thống bình bầu trực quan</h2><hr>
<ul>
	<li>1065110 - Trần Vĩnh Phôn</li>
	<li>1065088 - Nguyễn Ngọc Uyên Minh</li>
	<li>1065096 - Thân Hoàng Xuân Nghiệp</li>
	<li>1065156 - Phạm Vương Uy</li>
</ul>
</section>